body{font-family: 'Comic Sans MS'!important;font-size:15px!important;color:#000!important;background-color:#fff;}
#header-nav{border-radius: 0;border-bottom:1px solid black;margin:0 auto;}
.item{padding:10px;}
.row{margin:10px!important;}
h2{font-size:175%;}
div.container-menu>p:nth-child(1){font-size:125%;font-weight:bold;}
.container-menu{position:relative;padding:10px;background-color:#d0d2d3;border-radius: 6px;}
.container-fluid{background-color:#d0d2d3;}
.navbar-header{padding-bottom: 10px;}
.navbar-brand h1{font-size:1.6em;font-weight: bold;margin-top:5px;color:#000;}

.navbar-toggle{position: relative;float:right;padding:10px 10px;margin:-20px 15px 8px 0;background-color: transparent;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.navbar-toggle:focus{outline:0;}
.navbar-toggle .icon-bar{display:block;width:22px;height:22px;border:1px;}
.navbar-toggle .icon-bar + .icon-bar{margin-top: 4px;}
.navbar-nav{text-align: center;}
.navbar-nav>li>a.last{border-bottom:none;}
.navbar-nav>li>a{line-height: 20px;border-bottom:1px solid black;}
.navbar-nav>li>a.first{border-top:1px solid black;}
.nav.navbar-nav{margin:0px -15px 0 -15px;background-color:#fff;}
.navbar-nav>li:hover{background-color: Whitesmoke;}

.navbar-header button.navbar-toggle,.navbar-header .icon-bar{border:1px solid #000;}
.navbar-header button.navbar-toggle{clear:both;margin-top: -30px;}
.navbar-header button.navbar-toggle:hover{background-color: #c5dff6;}

/**Large devices view**/
@media screen and (min-width:768px){
  .nav.navbar-nav{display:none;}
}

